.v-main{
    background-color: white;
    color: black;
}
.v-icon{
    height: 30px;
    color: black !important;
}
.theme--light:not(.v-icon){
    color: black;
    background-color: none;
}

.v-application p, input{
    margin: 0 !important;
    padding: 0 !important;
    color: black;
}


.v-input--is-focused {
    color: #FFAE00 !important;
    caret-color: #FFAE00 !important;
}

input:-internal-autofill-selected{
    background-color: none !important;
}

input:-webkit-autofill {
    -webkit-text-fill-color: black !important;
    -webkit-box-shadow: 0 0 0px 1000px inset;
}

.text--secondary{
    color: gray;
    font-size: 14px;
}

a{
    display: flex;
    text-decoration: none;
    color: black !important;
    padding: 4px 12px;
    border-radius: 4px;

    &:hover{
        background-color: rgba(150, 150, 150, 0.100);
    }
}

p{
    vertical-align: middle !important;
}

.h-100{
    height: 100%  !important;
}

:root {
    --v-success-base: green;
    --v-error-base: red;
    --v-warning-base: orange;
    --v-info-base: blue;
  }